{% extends 'cars_app/layout.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<h1>{{title}}</h1>
<div class="card">
    <h4>Автомобиль:</h4>
    <p><strong>Марка автомобиля:</strong> {{ car.make }}</p>
    <p><strong>Модель автомобиля:</strong> {{ car.model }}</p>
    <p><strong>Год выпуска автомобиля:</strong> {{ car.year }}</p>
    {% if car.description %}
    <p><strong>Описание автомобиля:</strong> {{ car.description }}</p>
    {% endif %}
    <p><strong>Дата обновления:</strong> {{ car.updated_at|date:"d M Y H:i" }}</p>

    <div class="action-buttons">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ object.pk }}">
            <button class="btn btn-accept" type="submit">Удалить</button>
        </form>
        <a class="btn btn-warn" href="{% url 'my_cars' %}">Отмена</a>
    </div>
</div>

{% endblock %}