{% extends 'cars_app/layout.html' %}

{% block title %}
Список автомобилей
{% endblock %}

{% block content %}
<h1>Список автомобилей</h1>


<div class="card">
    {% if cars %}
        <ul>
        {% for car in cars %}
            <li class="car-item">
                <div>
                    <h3>{{ car.make }} {{ car.model }}</h3>
                    <span class="year">{{ car.year }}</span>
                    <!-- {% if car.description %}
                        <p>{{ car.description }}</p>
                    {% endif %} -->
                    <br>
                    <a href="{% url 'car_detail' pk=car.id %}">Подробнее</a>
                </div>
                
            </li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <p>Нет автомобилей.</p>
    {% endif %}
</div>
{% endblock %}

